* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

@font-face {
    font-family: "Averta CY";
    src: url("/src/assets/fonts/Averta-Cyrillic-Regular.otf") format("opentype"),
    url("/src/assets/fonts/Averta-Cyrillic-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}